version: '3.8'
services:
frontend:
build:
context: ./app-code/frontend
dockerfile: ../../Dockerfile.frontend
ports:
- "80:80"
networks:
- monitoring


backend:
build:
context: ./app-code/backend
dockerfile: ../../Dockerfile.backend
environment:
DB_HOST: mongodb
ports:
- "5000:5000"
networks:
- monitoring


mongodb:
image: mongo:latest
ports:
- "27017:27017"
networks:
- monitoring


prometheus:
image: prom/prometheus
volumes:
- ./prometheus.yml:/etc/prometheus/prometheus.yml
ports:
- "9090:9090"
networks:
- monitoring


nodeexporter:
image: prom/node-exporter
ports:
- "9100:9100"
networks:
- monitoring


grafana:
image: grafana/grafana
ports:
- "3000:3000"
networks:
- monitoring


networks:
monitoring:
driver: bridge
